/* palettes:
https://coolors.co/1c2321-7d98a1-5e6572-a9b4c2-eef1ef
https://coolors.co/343e3d-607466-aedcc0-7bd389-38e4ae
https://coolors.co/1f363d-40798c-70a9a1-9ec1a3-cfe0c3 <- insp
*/


html {
  font-size: 18px; 
  font-family: 'Roboto', sans-serif;

  background-color: #DFEAD7;
}

h2 {
  font-size: 48px;
  color: #40798C;

  margin: 0;
  text-shadow: 3px 3px 0px black;
  text-align: left;
}

p, li {
  font-size: 18px;
  color: #1B3036;

  line-height: 2;
  letter-spacing: 1px;
}


.wrapper {
  margin: 10px auto;
  padding: 10px 10px;
  width: 75%;
  background-color: #B4CFB8;
  border-radius: 5px;
}

.horizontal-list {
  display: flex;
  justify-content: flex-end;
}

.horizontal-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex
}

.horizontal-list li {
  margin: 0 10px;
}

.header-bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  text-decoration: underline;
}


#site-logo {
  width: 40px;
  height: 40px;
  float: left;
}

#games-section {
  background-color: #1B3036;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

#games-section > {
  margin: auto;
}

#games-container {
  width: 95%;
  height: 400px;
}

.games-button {
  background-color: #40798C;
  padding: 0;
  min-width: 40px;
  border-radius: 5px;
  flex: none;
  border: none;
}

#games-button-left {
  margin: 10px auto 10px 10px;
}

#games-button-right {
  margin: 10px 10px 10px auto;
}

.scale-svg {
  width: 90%;
  height: auto;
}

.game-panel {
  width: 100%;
  height: 100%;

}

.game-panel * {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: auto;
}

.game-panel-left {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 400px;
}

.game-panel-right {
  width: 50%;
  height: 400px;
  margin: -400px 0 0 50%;
}

.game-panel-title {
  position: relative;

  text-shadow: 3px 3px 0px black;
  font-weight: normal;
  font-size: 36px;
  color: #B4CFB8;
  top: 10px;
}

.game-panel-desc {
  position: relative;

  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 26px;
  color: #B4CFB8;
  top: 20px;
}

.game-panel-gif {
  margin-top: 10px;
  object-fit: cover;

  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 15px;
  height: auto;
}

.game-panel-button {
  position: absolute;
  background-color: #40798C;
  color: #B4CFB8;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  text-shadow: 2px 2px 0px black;

  bottom: 0;
  left: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 96%;
  height: 90px;
}